.esup-news {
	position: relative;
	margin: 0;
	padding: 0;
	text-align: left;
}

.esup-news a:link, .esup-news a:visited {
        text-decoration: none;
}

.esup-news input, textarea, select {
    width: auto;
}

.esup-news #news_header1 {
	float: right;
	width: 98%;
	background: repeat-x bottom;
	font-size: 100%;
	line-height: normal;
}

.esup-news #news_header1 ul {
	margin: 0;
	padding: 6px 6px 0;
	list-style: none;
}

.esup-news #news_header1 li {
	float: right;
	background: no-repeat right top;
	margin: 0;
	padding: 0 0 0 5px;
	list-style: none;
}

.esup-news #news_header1 a {
	display: block;
	background: no-repeat right top;
	padding: 5px 15px 4px 6px;
	text-decoration: none;
	color: #111;
}

.esup-news #news_header1 a:hover {
	color: #999;
}

.esup-news #news_header1 #current {
	color: #900;
	padding-bottom: 5px;
}

.esup-news #news_headerC,.esup-news #news_headerE,.esup-news #news_headerT,.esup-news #news_headerI,.esup-news #news_headerA,.esup-news #news_headerACC
	{
	overflow: hidden;
	float: left;
	width: 100%;
	height: 26px;
	background: #a2a1a0 repeat-x bottom;
	font-size: 100%;
	padding-top: 3px;
	padding-bottom: 3px;
}

.esup-news #news_headerACC {
	BORDER-TOP: #00959c 5px solid;
	background: url("../images/ronds.jpg") #a2a1a0 no-repeat left top;
	text-indent: 110px;
}

.esup-news #news_headerA {
	BORDER-TOP: #00959c 5px solid;
}

.esup-news #news_headerE {
	BORDER-TOP: #6E0B14 5px solid;
}

.esup-news #news_headerC {
	BORDER-TOP: #ff9422 5px solid;
}

.esup-news #news_headerT {
	BORDER-TOP: #009319 5px solid;
}

.esup-news #news_headerI {
	BORDER-TOP: #0f5294 5px solid;
}

.esup-news p.news_EntTitle {
	background: url("../images/r_entity.gif") no-repeat left;
	text-indent: 25px;
	height: 20px;
	margin: 10px;
}

.esup-news p.news_CatTitle {
	background: url("../images/r_cat.gif") no-repeat left;
	text-indent: 25px;
	height: 20px;
	margin: 10px;
}

.esup-news p.news_TopTitle {
	background: url("../images/r_topic.gif") no-repeat left;
	text-indent: 25px;
	height: 20px;
	margin: 10px;
}

.esup-news p.news_E {
	background: url("../images/icone_entity.gif") no-repeat left;
	text-indent: 25px;
	height: 20px;
	COLOR: #6E0B14;
	margin: 0px;
}

.esup-news p.news_C {
	background: url("../images/icone_cat_p2.gif") no-repeat left;
	text-indent: 25px;
	height: 20px;
	COLOR: #ff9422;
	margin: 0px;
	margin-left : 30px; 
}

.esup-news p.news_T {
	background: url("../images/icone_theme_p2.gif") no-repeat left;
	text-indent: 25px;
	margin: 0px;
	margin-left : 60px; 
	height : 20px;
	COLOR: #009319;
}

.esup-news table.news_TabWb {
	border-width: 1px;
	border-style: solid;
	border-color: #ddd ;
	padding: 5px;
	margin: auto;
	width: 90%;
}

.esup-news table.adm,table.cat, table.entity{
	border: 0px;
	spacing: 1px;
	padding: 5px;
	margin: auto;
	width: 90%;
}

.esup-news table.adm td.news_listA {
	background: url("../images/r_adm.gif") no-repeat left top;
	height: 20px;
	text-indent: 25px;
	width: 90%;
}

.esup-news table.entity td.news_listE {
	background: url("../images/puce_e.gif") no-repeat left center;
	height: 20px;
	text-indent: 25px;
}

.esup-news table.cat td.news_list {
	background: url("../images/puce_1.gif") no-repeat left center;
	text-indent: 25px;
}

.esup-news table.cat th,table.news_TabWb th, table.entity th {
	border-right: 1px solid #c8c8ff;
	padding-left: 4px;
	padding-right: 12px;
	font-weight: bold;
	color: white ;
	background-color: #cccccc;
	margin-right: 15px;
	white-space: nowrap;
}

.esup-news table.news_TabWb td,table.cat td,table.adm td {
	vertical-align: middle;
	align: left;
}

.esup-news .newsTitle {
	FONT-WEIGHT: bold;
	FONT-SIZE: 1.0em;
	COLOR: #ffffff;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}

.esup-news #news_headerSM {
	float: left;
	width: 100%;
	background: #DAE0D2 url("../images/bg.gif") repeat-x bottom;
	font-size: 100%;
	line-height: normal;
}

.esup-news #news_headerSM ul {
	margin: 0;
	padding: 2px 2px 0;
	list-style: none;
}

.esup-news #news_headerSM li {
	float: left;
	background: no-repeat left top;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 4px;
	margin-left: 4px;
	padding: 0 0 0 9px;
	list-style: none;
}

.esup-news #news_headerSM li a {
	float: left;
	display: block;
	background: no-repeat right top;
	padding: 3px 7px 4px 3px;
	text-decoration: none;
	font-weight: bold;
	color: #765 ;
}

.esup-news #news_headerSM li a:hover {
	color: #333 ;
}

.esup-news #news_headerSM #current {
	background-image: url("../images/left_on.gif");
}

.esup-news #news_headerSM #current a {
	background-image: url("../images/right_on.gif");
	color: #ff9422 ;
	padding-bottom: 5px;
}

.esup-news #news_headerSM #currentT {
	background-image: url("../images/left_on.gif");
}

.esup-news #news_headerSM #currentT  a {
	background-image: url("../images/right_on.gif");
	color: #009319 ;
	padding-bottom: 5px;
}

.esup-news #news_headerSM #currentI {
	background-image: url("../images/left_on.gif");
}

.esup-news #news_headerSM #currentI a {
	background-image: url("../images/right_on.gif");
	color: #0f5294 ;
	padding-bottom: 5px;
}

.esup-news #news_headerSM #currentE {
	background-image: url("../images/left_on.gif");
}

.esup-news #news_headerSM #currentE a {
	background-image: url("../images/right_on.gif");
	color: #6E0B14 ;
	padding-bottom: 5px;
}

.esup-news #news_headerSM #currentA {
	background-image: url("../images/left_on.gif");
}

.esup-news #news_headerSM #currentA a {
	background-image: url("../images/right_on.gif");
	color: #00959c ;
	padding-bottom: 5px;
}

.esup-news #news_showhide {
	WIDTH: 660px
}

.esup-news #news_showhide DT {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 20px;
	PADDING-BOTTOM: 0px;
	MARGIN: 2px 0px;
	CURSOR: pointer;
	COLOR: #000000 ;
	PADDING-TOP: 0px;
}

.esup-news #news_showhide DD {
	display: none;
	BORDER-RIGHT: #babac0 1px dashed;
	PADDING-RIGHT: 10px;
	BORDER-TOP: #babac0 1px solid;
	PADDING-LEFT: 20px;
	PADDING-BOTTOM: 10px;
	MARGIN: 5px 0px 5px;
	BORDER-LEFT: #babac0 1px dashed;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #babac0 1px solid;
	BACKGROUND-COLOR: #fffff1
}

.esup-news #news_showhide P {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 20px;
	PADDING-BOTTOM: 0px;
	MARGIN: 2px 0px;
	COLOR: #000000;
	PADDING-TOP: 0px;
}

.esup-news #news_showhide IMG {
	CURSOR: help;
}

.esup-news #news_showhide SPAN.news_showhide_hidden {
	display: none;
	BORDER-RIGHT: #babac0 1px dashed;
	PADDING-RIGHT: 10px;
	BORDER-TOP: #babac0 1px solid;
	PADDING-LEFT: 20px;
	PADDING-BOTTOM: 10px;
	MARGIN: 5px 0px 5px;
	BORDER-LEFT: #babac0 1px dashed;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #babac0 1px solid;
	BACKGROUND-COLOR: #fffff1
}

.esup-news .news_tab {
	width: 680px;
}

.esup-news .news_tab th {
	width: 40%;
	font: bold 12px arial;
	color: #5c5c5c ;
	text-align: left;
	border-bottom: 1px dotted #999;
}

.esup-news .news_tab td {
	font: bold 12px arial;
	padding: .2em;
	border-bottom: 1px dotted #999;
}

.esup-news .news_tab tr:hover {
	background: #e7e7e7;
}

.esup-news #news_footer {
	clear: both;
	background-color: #a2a1a0 ;
	text-align: right;
	font-size: 0.85em;
	font-weight: bold;
	BORDER-BOTTOM: #CCC 3px solid;
	position: relative;
	padding: 2px;
}

.esup-news #news_clearfooter {
	display: block;
	height: 15px;
}

.esup-news #news_clear {
	margin: 0pt;
	padding: 0.5em 0.5em 0pt;
	clear: both;
}

.esup-news #news_footer p {
	margin: 0;
	padding: 0.3em;
}

.esup-news .meta {
	background: #F5F5F5;
	font-size: 1.0em;
	border: solid #D0D0D0 1px;
}

.esup-news .texteBasPage {
	height: 20px;
	text-align: right;
	margin-right: 21px;
	padding-right: 0.5em;
	font-size: 0.9em;
	font-weight: bold;
}

.esup-news span.newsPending {
	COLOR: #ff9422;
	font-weight: normal;
}

.esup-news .titreC {
	FONT-WEIGHT: bold;
	FONT-SIZE: 0.9em;
	COLOR: #ff6f06;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.esup-news .titreC a:link, .esup-news .titreC a:visited {
	text-decoration: none;
	COLOR: #ff6f06 !important;
	border-bottom: 1px dashed #4f6b72;
}

.esup-news .titreC a:hover {
	COLOR: #aa6f06;
	border-bottom: 1px solid #000;
}

.esup-news .titreT {
	FONT-WEIGHT: bold;
	FONT-SIZE: 0.9em;
	COLOR: #009319;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.esup-news .titreT a:link, .esup-news .titreT a:visited {
	text-decoration: none;
	COLOR: #009319 !important;
	border-bottom: 1px dashed #4f6b72;
}

.esup-news .titreT a:hover {
	COLOR: #559319;
	border-bottom: 1px solid #000;
}

.esup-news .titreI {
	FONT-WEIGHT: bold;
	FONT-SIZE: 0.9em;
	COLOR: #0f5294;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.esup-news .titreI a:link, .titreI a:visited {
	text-decoration: none;
	COLOR: #0f5294 !important;
	border-bottom: 1px dashed #4f6b72;
}

.esup-news .titreI a:hover {
	COLOR: #645294;
	border-bottom: 1px solid #000;
}

.esup-news .titreE {
	FONT-WEIGHT: bold;
	FONT-SIZE: 0.9em;
	COLOR: #6E0B14;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.esup-news .titreE a:link, .esup-news .titreE a:visited {
	text-decoration: none;
	COLOR: #6E0B14 !important;
	border-bottom: 1px dashed #4f6b72;
}

.esup-news .titreE a:hover {
	COLOR: #C30B14;
	border-bottom: 1px solid #000;
}

.esup-news a.liensmenudroit:link {
	font-size: 0.9em;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #b55743 ;
}

.esup-news a.liensmenudroit:visited {
	text-decoration: none;
	color: #b55743;
}

.esup-news a.liensmenudroit:hover {
	text-decoration: underline;
	color: #a21d21;
	border-bottom: 2px solid #CCCCCC;
}

.esup-news a.liensmenudroit:active {
	text-decoration: underline;
	color: #a21d21;
}

.esup-news .line_c {
	margin-left: 0em;
	margin-right: 0em;
	background-image: url(../images/line_c.gif);
	height: 2px;
	background-repeat: repeat-x;
}

.esup-news .line_e {
	margin-left: 0em;
	margin-right: 0em;
	background-image: url(../images/line_e.gif);
	height: 2px;
	background-repeat: repeat-x;
}

.esup-news .line_t {
	margin-left: 0em;
	margin-right: 0em;
	background-image: url(../images/line_t.gif);
	height: 2px;
	background-repeat: repeat-x;
}

.esup-news .line_i {
	margin-left: 0em;
	margin-right: 0em;
	background-image: url(../images/line_i.gif);
	height: 2px;
	background-repeat: repeat-x;
}

.esup-news .line_a {
	margin-left: 0em;
	margin-right: 0em;
	background-image: url(../images/line_a.gif);
	height: 2px;
	background-repeat: repeat-x;
}

.esup-news .pointilles {
	width: 100%;
	BACKGROUND-IMAGE: url(../images/bg_pointilles.gif);
	BACKGROUND-REPEAT: repeat-x;
}

.esup-news fieldset {
	clear: both;
	display: block;
	border: solid 1px orange;
	position: relative;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
}

.esup-news legend {
	color: #666666;
	font-weight: bold;
}

.esup-news .news_legende {
	position: relative;
	width: 85%;
	left: 16px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 2px;
	border-top: 1px #ccc dashed;
	border-left: 1px #ccc dashed;
	border-bottom: 1px #ccc dashed;
	border-right: 1px #ccc dashed;
}

.esup-news #news_content {
	float: left;
	text-align: justify;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.esup-news #content .entry h2 {
	font-weight: bold;
	margin-left: 0.2em;
	font-size: 1.0em;
	margin-bottom: 0px;
	color: #0F5294;
}

.esup-news .news_entry .postmeta {
	margin-top: 0px;
	padding-top: 5px;
	color: #999;
	padding-left: 0px;
	background: url(../images/line_b.gif) no-repeat;
}

.esup-news .news_entry .postmeta em {
	font-style: normal;
	border: 0px;
	padding: 0px;
}

.esup-news .news_entry .postmeta .cat {
	padding-left: 5px;
	color: #FF9422;
	border-bottom: 1px dashed #cccccc;
	background: url(../images/icon_cat_p2.gif) 0px 2px no-repeat;
}

.esup-news .news_entry .postmeta .topic {
	padding-left: 5px;
	color: #009319;
	border-bottom: 1px dashed #cccccc;
	background: url(../images/icon_theme_p2.gif) 0px 2px no-repeat;
}

.esup-news .news_entry {
	margin: 0 0 40px 0;
}

.esup-news .news_entry .info {
	position: relative;
	margin-top: -3px;
	padding: 3px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	font-size: 0.9em;
}

.esup-news .news_entry .single {
	clear: both;
}

.esup-news .news_meta {
	background: #F5F5F5;
	font-size: 1.0em;
	border: DASHED #c0c0c0 1px;
}

.esup-news .news_meta:hover {
	background: #F7FEDC;
}

.esup-news #news_displaytable_checkboxReset a{
	display: block;
	font-size: .95em;
	margin: 10px 0px 0px 10px;
	padding: 2px 4px 2px 0px;
	width: 100%;
	color:red;
}

/* Attachements */
.esup-news .attachments {
	padding-right:50px;
	width:90%;
}
	
.esup-news .attachments_buttons {
	text-align : right;
	border-style : none;
	padding-top : 20px;
}

.esup-news .attachments th{
	background-color : #bcbcbc;
	margin-bottom : 5px;
	padding-left: 5px;
	font-weight:bold;
	text-align:left;
}

.esup-news .attachments td{
	border-bottom : 1px dotted black;
	padding:2px 0 2px 5px;
}

.esup-news .first_line td{
	border-top : 1px solid #FFA500;	
}

.esup-news .attachments_header {
}

.esup-news .attachments_title {
	color : #117CEE;
	background : url(../images/carre_jaune_s.gif) no-repeat left;
	text-indent:15px;
}

.esup-news .attachments_buttons input {
	margin-left : 15px;
}

.esup-news .label {
	width : 102px;
	float:left;
}

.esup-news .input {
	float:left;
}

.esup-news .clearBoth {
	clear:both;	
}

.esup-news .internal_attachment_check {
	width : 30px;
}

.esup-news .internal_attachment_table {
	width : 100%;
	padding-top:2px;	
}
.esup-news .internal_attachment_table th{
	border-top : 1px solid #FFA500;
	background-color : #BBBBBB;
	color: #333333;
	text-align : left;
	padding:2px 0 2px 10px;
}
.esup-news .internal_attachment_table td{
	background-color : #eeeeee;
	padding:2px 0 2px 10px;
	text-align : left;
}
.esup-news .internal_attachment_table td.internal_attachment_type {
	text-align : center;
	width:55px;
	padding-left:0px;
}
.esup-news .internal_attachment_table td..internal_attachment_name {
	
}
.esup-news .internal_attachment_table td..internal_attachment_size {
	
}
.esup-news .internal_attachment_table td..internal_attachment_date {
	
}

.esup-news .breadcrumb {
	background-color: #CCCCCC;
	padding:2px 5px;	
	font-weight : bold;
}
.esup-news .breadcrumb a {
	font-weight : bold;
}
